.spacer_large {
    background-color: #B82E8A;
    margin: 24px;
}

.spacer {
    margin: 6px;
    width: 100%;
}

.spacer_pict {
    margin: 6px;
	max-width:40%;
}

.pict_inst {
    text-align: center;
    font-size: 14px;
}